#user-avatar {
  opacity: 0;
}

.input-label {
  position: relative;
}

.label-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 15px;
  width: 100%;
  transform: translateY(-50%);

  p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
  }

  svg {
    width: 20px;
  }
}
