.preloader{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preloader-icon {
  width: 60px;

  svg{
    display:inline-block;

    path {
      fill: blue;
    }
  }
}
