.global-wrapper {
  display: flex;
  gap: 80px;
  align-items: flex-start;
  padding-top: 80px;
}

.global-left {
  flex-basis: 30%;
  max-width: 30%;
}

.global-right {
  flex-basis: 70%;
  max-width: 70%;
}


@media (max-width: 991px) {
  .global-wrapper {
    gap: 0;
    flex-wrap: wrap;
  }

  .global-left {
    flex-basis: 100%;
    max-width: 100%;
  }

  .global-right {
    flex-basis: 100%;
    max-width: 100%;
  }
}