* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Archivo", sans-serif;
  background-color: #edebeb;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

svg, img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: black;
  }

  &:focus {
    outline: none;
  }
}

main {
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

input, .input {
  display: inline-block;
  width: 100%;
  height: 42px;
  border: 1px solid green;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 0 15px;

  &:focus {
    outline: none;
  }
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  max-height: 50px;
  border: 1px solid green;
  margin-bottom: 15px;
  padding: 10px;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

button, .button {
  display: block;
  background-color: transparent;
  border: 1px solid black;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;

  &.button-primary {
    background-color: black;
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  &.button-secondary {
    background-color: white;
    color: black;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  &.button-ternary {
    background-color: blue;
    color: white;
    border-color: blue;

    &:hover {
      background-color: white;
      color: blue;
    }
  }

  &:disabled {
    background-color: #888888;
  }
}

.link {
  display: flex;
  a {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
  }
}

.error {
  font-size: 16px;
  color: red;
  margin: 15px auto;
  text-align: center;
}
