.user-main {
  display: flex;
  width: 100%;
  gap: 50px;
}

.user-sidebar {
  flex-basis: 30%;
  max-width: 30%;
  border-right: 1px solid lightgray;
}

.user-content {
  flex-basis: 70%;
  max-width: 70%;
  max-height: 1130px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}
