.welcome-image {
  width: 500px;
  margin: 0 auto;
}

.welcome-text {
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  margin-top: 50px;
  color: #ff4c02;
}

.chat-messages__container {
  height: 40vh;
  width: 100%;
  padding: 20px;
  border: 1px solid green;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: green;
  }
}

.message-container {
  display: flex;

  .message-content{
    padding: 10px 15px;
    color: white;
    background-color: brown;
    border-radius: 6px;
    font-size: 18px;
  }

  &.you {
    justify-content: flex-end;

    .message-content {
      background-color: green;
    }
  }
}

.message-wrapper {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid green;
  border-radius: 6px;
  padding: 15px;

   &:before {
     content: "";
     position: absolute;
     bottom: -7px;
     right: 10px;
     width: 10px;
     height: 10px;
     transform: rotate(45deg);
     background-color: #edebeb;
     border-right: 1px solid green;
     border-bottom: 1px solid green;
   }
}

.sender-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sender-name {
  font-weight: 700;
}

.sender-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

.message-date {
  font-size: 12px;
}

.form-input__container {
  position: relative;
}

.emoji-wrapper {
  position: absolute;
}

.form-input__wrapper {
  position: relative;
}

.emoji-wrapper {
  position: absolute;
  bottom: 63px;
  right: 0;
}

.emoji-icon {
  position: absolute;
  width: 20px;
  right: 20px;
  top: 11px;
  cursor: pointer;
}

.notification-label{
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.emoji-picker-react  {
  .emoji-group {
    padding: 0;

    &:before {
      padding: 0 15px;
    }
  }
}


