.wrapper {
  width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.chat-main {

  .body-wrapper {
    border: 1px solid blue;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 15px;
  }

  .body {
    height: 250px;
    margin-bottom: 15px;
    padding: 10px 15px;
  }

  .footer {
    width: 100%;
  }
}

.cloud-wrapper {
  display: flex;
  width: 100%;

  &.you {
    justify-content: flex-start;

    .cloud-item__content {
      background-color: green;
    }
  }

  &.other {
    justify-content: flex-end;

    .cloud-item__content {
      background-color: blue;
    }
  }
}

.cloud-item {
  margin-bottom: 20px;
}

.cloud-item__content {
  padding: 10px 15px;
  border-radius: 4px;
  color: white;
  width: 100%;
  min-width: 110px;
}

.author-meta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
}
.author-meta__text {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

.author-meta__name {
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}

.author-meta__date {
  font-size: 12px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  a {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    min-width: 150px;
    text-align: center;
  }
}
