.wrapper {
  width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-body {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}

.scroll-button {
  display: none;
}

.chat-main {

  .body-wrapper {
    position: relative;
    border: 1px solid blue;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f1f1f1;
  }

  .body {
    height: 250px;
    margin-bottom: 15px;
    padding: 10px 15px;
  }

  .footer {
    width: 100%;
  }
}

.typing-label {
  position: absolute;
  bottom: 15px;
  right: 37px;
  background-color: lightgray;
  color: gray;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
}

.cloud-wrapper {
  display: flex;
  width: 100%;

  &.you {
    justify-content: flex-start;

    .cloud-item__content {
      position: relative;
      background-color: green;

      &:before {
        content: "";
        position: absolute;
        bottom: -4px;
        right: 7px;
        width: 10px;
        height: 10px;
        background-color: green;
        transform: rotate(-45deg);
      }

      .author-meta__text {
        text-align: left;
      }
    }
  }

  &.other {
    justify-content: flex-end;

    .cloud-item__content {
      position: relative;
      background-color: blue;

      &:before {
        content: "";
        position: absolute;
        bottom: -4px;
        right: 7px;
        width: 10px;
        height: 10px;
        background-color: blue;
        transform: rotate(-45deg);
      }

      .author-meta__text {
        text-align: right;
      }
    }
  }
}

.cloud-item {
  margin-bottom: 20px;
}

.cloud-item__content {
  padding: 10px 15px;
  border-radius: 4px;
  color: white;
  width: 100%;
}

.author-meta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.author-meta__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 190px;
}

.author-meta__name {
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}

.author-meta__date {
  font-size: 12px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  a {
    display: inline-block;
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    min-width: 150px;
    text-align: center;
    font-size: 16px;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
