.start-chat__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-user-name {
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-transform: capitalize;
}
